<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>Films</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
  <ion-searchbar placeholder="Recherche" showCancelButton color="danger" [(ngModel)]="query" (ionInput)="ionInput()" ></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>


<ion-list>
  <ion-item *ngIf=!liste.length>
    Aucun résultats
  </ion-item>
  <ion-item *ngFor="let item of liste">
    <ion-thumbnail item-start>
      <img src="item.image">
    </ion-thumbnail>
    <h2>{{ item.title }}</h2>
    <p>{{ item.author }}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-list>


</ion-content>
