<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>Films</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
  <ion-searchbar placeholder="Recherche" [(ngModel)]="query" (ionInput)="ionInput()" ></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>


<ion-list>
  <ion-item *ngIf="!(liste | async)?.length">
    Aucun résultats
  </ion-item>
  <button ion-item *ngFor="let item of liste | async" (click)="push(item)">
    <ion-thumbnail item-start>
  <img [src]="'https://image.tmdb.org/t/p/w92/'+item.poster_path" alt="Affiche du film" />
    </ion-thumbnail>
    <h2>{{ item.title }}</h2>
    <p>{{ item.release_date | date : 'longDate' }}</p>

  </button>
</ion-list>


</ion-content>
